*{
    margin: 0;
    padding: 0;
    
}
header{
    height: 110px;
}

nav{
    display: flex;
    height: 72px;
    align-items: center;
    border-bottom: 4px solid black;
    margin:0 140px 0 140px ;
    
}

ul{
    display: flex;
    list-style: none;
    margin-left: 0;
        
    
}

a{
    text-decoration: none;
    color: black;
}
li{
    margin: 10px;
    height: 27px;
    width: auto;
    
    
}

.page_logo,.search_bar{
    display: flex;
    margin:auto
}

/* search bar elements */
.search_bar{
    height: 27px;
    width: auto;
    margin-right: 0;
    position: relative;
    gap: 26px;
}
.magnifying_glass{
    position:absolute ;
    right: 88px;
}
input{
    width: 292px;
}
.cart{
    align-self:flex-end;
}

.page_logo{
    align-items: center;
    margin-right: auto;
  
}
 

.title_image{
    padding-left: auto;
}
